<h1>こんにちは。</h1>
<h2>あなたが食べたい物を下記より選択してください</h2>
<div class="search" style="width: 400px; margin: 0 auto;" >
  <%= form_tag search_path , method: :get do %>
    <%= select_tag 'p', options_for_select(
      {
        '肉の料理' => 10,
        '魚の料理' => 11,
        '野菜をがっつり食べたい時は' => 12,
        'ご飯もの' => 14,
        'パスタ' => 15,
        '麺・粉物料理' => 16,
        'パン' => 22, 
        '鍋料理' => 23,
        '中華料理' => 41,
        '韓国料理' => 42,
        'フランス料理' => 43,
        'エスニック料理・中南米' => 46,
        '沖縄料理' => 47
        }
    ) %>
    <%= submit_tag "食べたい物を検索", name: nil , class: "btn btn-success", data: { disable_with: "検索中..."} %>
  <% end %>
</div>


<h3>本サービスは、テスト中ですので東京都のお店しか検索できません。ご了承ください。</h3>

<div style="position:absolute; bottom:10px; right:10px;width:100%;text-align:center;" >
<%= mail_to '#', 'お問い合わせはこちら' %>
</div>
