<h1>HomePages#home</h1>
<p>Find me in app/views/home_pages/home.html.erb</p>

[検索画面]

<%= select_tag 'recipeid', options_for_select(["10", "11", "12", "13", "14"]) %>

<input type="submit" name="commit" value="検索" />